﻿#tblSearch
{
    border : 1px solid #C0C0C0;    
}

#tblSearch tr td, #tblMaster tr
{
    padding : 10px;    
}

.webGrid 
{ 
    border-collapse: collapse; 
    width: 300px;  
    background-color:#B4CFC3;
}
    .header 
    { 
        background-color: #C1D4E6; 
        font-weight: bold; 
        color: #FFF; 
        text-align: center;
    }
    .webGrid th, .webGrid td 
    { 
        border: 1px solid #C0C0C0; 
        padding: 2.5px; 
        text-align: center;
    }
    .alt 
    { 
        background-color: #E4E9F5; 
        color: #000; 
    }

#tdPreviousPage
{
    width: 10%;
    text-align: right;
}

#tdPager
{
     text-align: center;
     width: 20%;
}

#tdNextPage
{
     width: 10%;
     text-align: left;
}

#lblError
{
    padding : 10px;
    font : bold 18px arial;
}