﻿@model FizzBuzz.Models.FizzBuzzViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tblMaster">
    <tr style="float:left">
        <td>
            @Html.Partial("FizzBuzzSearchPanel", Model)
        </td>
    </tr>
    <tr style="float:right">
        <td>
            <div id="divResultList">
                
            </div>
        </td>
    </tr>
</table>


