﻿@model FizzBuzz.Models.FizzBuzzViewModel

<script>
    $(document).ready(function () {
        $('#txtNumber').focus();
        $('#btnSearch').click(function () {
            $('#divResultList').html('');
            var regex = /^[0-9]*$/;
            if (!regex.test($('#txtNumber').val())) {
                alert('Please enter valid number');
                $('#txtNumber').focus();
                $('#txtNumber').val('');
                return;
            }
            var number = parseInt($('#txtNumber').val());
            if ($('#txtNumber').val() == null || $('#txtNumber').val() == '') {
                alert('Please enter value');
                $('#txtNumber').focus();
                $('#txtNumber').val('');
                return;
            };
            if (number < 1 || number > 1000) {
                alert('Please enter value in range of 1 to 1000');
                $('#txtNumber').focus();
                $('#txtNumber').val('');
                return;
            };
            $.post('@Url.Action("FizzBuzzResult")', $('form').serialize())
             .success(function (result) {
                 $('#divResultList').html(result);
             }).error(function () {
                 alert('System error occured. Please contact to helpdesk.');
             });
            @*var fizzBuzzModel = new Object();
            fizzBuzzModel.Number = '@Model.Number';
            $.ajax({
                type: "POST",
                data: { model: JSON.stringify(fizzBuzzModel) },
                url: "http://localhost:51233/api/Values",
                dataType: "json",
                contentType: "application/json",
            }).success(function (result)
            {
                alert('Value Added ');
            })
              .error(function (result)
              {
                  alert('System error occured. Please contact to helpdesk.');
             });*@
        });
    });
</script>

@using (Html.BeginForm())
{
    <table id="tblSearch">
        <tr>
            <td>
                @Html.TextBoxFor(m => m.SearchNumber, new { id = "txtNumber", placeHolder = "Enter Number" })
            </td>
            <td>
                <input type="button" id="btnSearch" value="Search" />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
}