﻿@model FizzBuzz.Models.FizzBuzzViewModel

@{
    var grid = new WebGrid(rowsPerPage: Model.Pager.PageSize, canPage: false);
    grid.Bind(source: Model.ResultList, rowCount: Model.SearchNumber, autoSortAndPage: false);
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.Pager.PageNo' == 1) {
            $('#previousPage').attr('disabled', true);
        }

        if ('@Model.Pager.PageNo' == '@Model.Pager.TotalPages') {
            $('#nextPage').attr('disabled', true);
        }
    });

    function PreviousPageClick() {
        var pageNo = parseInt('@Model.Pager.PageNo');
        AjaxCallForPager(pageNo - 1);
    }

    function NextPageClick() {
        var pageNo = parseInt('@Model.Pager.PageNo');
        AjaxCallForPager(pageNo + 1);
    }

    function AjaxCallForPager(pageNo) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("FizzBuzzResult")',
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: { pageNo: parseInt(pageNo), number: parseInt('@Model.SearchNumber') },
            dataType: "html",
            success: function (result) {
                $('#divResultList').html(result);
            },
            error: function () {
                alert('System error occured. Please contact to helpdesk.')
            }
        });
    }
    $('.webGrid td').each(function () {
        if ($(this).text() == "Fizz" || $(this).text() == "Wizz") {
            $(this).css("color", "blue");
        }
        else if ($(this).text() == "Buzz" || $(this).text() == "Wuzz") {
            $(this).css("color", "green");
        }
    });

</script>

@if (Model.ResultList.Count > 0)
{
    <div id="grid">
        @grid.GetHtml(
    tableStyle: "webGrid",
    headerStyle: "header",
    alternatingRowStyle: "alt",
    mode: WebGridPagerModes.All,
    columns: grid.Columns(
    grid.Column("SearchNumber", "Number", canSort: false),
    grid.Column("FizzBuzz", "FizzBuzz", canSort: false)
    )
)
    </div>
    <table>
        <tr>
            <td id="tdPreviousPage">
                <input type="button" id="previousPage" onclick="PreviousPageClick()" value="&lt" />
            </td>
            <td id="tdPager">
                <div>Page @Model.Pager.PageNo of @Model.Pager.TotalPages</div>
            </td>
            <td id="tdNextPage">
                <input type="button" id="nextPage" onclick="NextPageClick()" value="&gt" />
            </td>
        </tr>
    </table>
}
else
{
    <label id="lblError">System error occured. Please contact to helpdesk.</label>
}